body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Start of  Header Styling */
header
{
    /* border: 2px solid red; */
    position: sticky;
    top: 0;
    background-color: rgba(56, 88,153, 1); 
    width: 100vw;
    height: 10vh;
    overflow-y: hidden;
}

header img
{
    height: 8vh;
    width: 10%;
    padding-top: .5rem;
    margin-left: 10rem;
}
header .navbar
{
    height: 100%;
    float: right;
    margin-right: 10rem;
    margin-top: .5rem;
    /* border: 2px solid rgb(8, 8, 8); */
}
.navbar #Email-Phone-text
{
    position: relative;
    top: -1.5rem;
    left: 7.1rem;
    color: white;
    
}
.navbar #password-text
{
    position: relative;
    top: -1.5rem;
    left: 1.5rem;
    color: white;
}
.navbar #email-phone,#password,#Login
{
    margin-top: 1.5rem;
}
.navbar #password
{
    margin-left: -3rem;
}
.navbar #Login
{
    margin-left: 1.5rem;
    background-color: #6464e6;
    color: white;
    cursor: pointer;
}

/* End of Header Styling */

/* Left Section Styling Start */


#Thumb-image-left-section
{
    height: 90vh;
    width: 50%;
    /* border: 2px solid rgb(8, 8, 8); */
    float: left;
}
#Thumb-image-left-section img
{
    width: 100%;
    height: auto;
   /* border: 2px solid rgb(8, 8, 8); */
}
#Thumb-image-left-section #tagline
{
    font-size: 1.5rem;
    z-index: 1;
    margin-top: -14rem;
    margin-left: 8rem;
}

/* Left Section Styling End */


/* Right Section form Start */
#Signup-form-right-section
{
    
    float: right;
    /* border: 2px solid rgb(8, 8, 8); */
    width: 40%;
    margin-right: 5em;
   

}




.forminput
{
    height: 2.3em;
    width: 85%;
   background-color: white;
   border: 2px solid rgba(221, 223,226, 1);
   /* border: none; */
   border-radius: 10px;
   margin: .5em;
}
#firstname,#lastname
{
    width: 40%;
    margin-top: 0em;
}

#dob-date
{
    margin-left: .7em;
    border:2px solid rgba(221, 223,226, 1);
    border-radius: 5px; 
    color: rgba(43, 45, 48, 0.459);
}

form .gender
{
    margin-left: .8em;
    color: gray;
    /* border: 2px solid rgb(8, 8, 8); */
    
}

#Male,#Female
{
    color: gray;
    margin-top: 2em;
  
}

form #t_and_c
{
    color: gray;
    margin-left: 1em;
    font-size: .9em;
    line-height: 5em;
}

#Submit
{
    height: 2.3em;
    border: none;
    border-radius: 5px;
    width: 20%;
    background-color: rgba(74, 110,59, 1); 
    margin-left: .9em;
    color: white;
    font-size: 1em;
  
}

/* Right Section form End */